{% extends 'Kdm/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/">Новости</a></li>
    <li class="active">Архив {{year}}</li>
</ol>

<h3><a href="/news/archive">Архив новостей {{year}} года</a></h3>
<article>
    <div class="main-page-news top-news clearfix">

        <ul>
            <li><a href="/news/archive/{{year}}/1">Январь</a></li>
            <li><a href="/news/archive/{{year}}/2">Февраль</a></li>
            <li><a href="/news/archive/{{year}}/3">Март</a></li>
            <li><a href="/news/archive/{{year}}/4">Апрель</a></li>
            <li><a href="/news/archive/{{year}}/5">Май</a></li>
            <li></li>
        </ul>
    </div>
</article>
<p class="pull-right"><a href="/news/topics/{{topic.Pk}}.html">
    <i class="glyphicon glyphicon-chevron-right"></i>см. другие ленты новостей</a></p>
{% endblock %}