{% extends 'Kdm/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/">Новости</a></li>
    <li class="active">Архив</li>
    <li></li>
</ol>

<h1><a href="/news/archive">Архив новостей {{year}} года</a></h1>
{% for topic in topics %}
{% if topic.stories is empty %}
{% else %}
<section class="panel panel-default">
    <div class="panel-body">
        <h1><a href="/news/topics/{{topic.Pk}}.html">{{topic.title}}</a></h1>



        <p class="pull-right"><a href="/news/topics/{{topic.Pk}}.html">все новости раздела</a></p>
    </div>
</section>
{% endif %}
{% endfor %}

<p class="pull-right"><a href="/news/topics/{{topic.Pk}}.html">
    <i class="glyphicon glyphicon-chevron-right"></i>см. другие ленты новостей</a></p>
</div>
</section>
{% endblock %}