{% extends 'Kdm/Inner.html' %}

{% block content %}

<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/">Новости</a></li>
    <li><a href="/news/archives/all">Архивы</a></li>
    <li><a href="/news/archive/{{year}}">Архив {{year}}</a></li>
    <li class="active">{{month}}</li>
</ol>

<section class="panel panel-default">
    <div class="panel-body">
        <h4 style="color: #0044cc">Рубрики новостей</h4>
        <ul>
            <li class="active"><p><a href="/news/archive/{{year}}/{{monthnum}}"><i>Все новости</i></a></p></li>
            {% for topic in topics %}
            {% if topic.stories is empty %}
            {% else %}
            <li><p><a href="/news/topics/{{topic.Pk}}.html"><i>{{topic.title}}</i></a></p></li>
            <!--        <t4:block path="/News//NewsByTopic" template="main" id="{{topic.Pk}}" count="4"/>
                    <p class="pull-right"><a href="/news/topics/{{topic.Pk}}.html"><i class="glyphicon glyphicon-chevron-right"></i>
                        все новости раздела</a></p> -->
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>

<h3>Архив новостей за {{month}} {{year}} года</h3>
{% for i, item in items %}
<article>
    <div class="main-page-news top-news clearfix">
        <div class="date-news">{{item.published|date('d.m.Y')}}</div>
        <div class="title-news">
            <strong>
                <a href="/news/{{item.Pk}}.html" alt="#" title="#">{{item.title}}</a>
            </strong>
        </div>
        {% if item.image %}<img class="media-object img-responsive img-thumbnail pull-left" src="{{item.image}}"
                                style="max-width: 200px; margin-right: 10px;">{% endif %}
        <div class="description-news">{{item.lead|striptags|raw}}</div>
    </div>
</article>

{% endfor %}
<p class="pull-right"><a href="/news/topics/{{topic.Pk}}.html">
    <i class="glyphicon glyphicon-chevron-right"></i>см. другие ленты новостей</a></p>
{% endblock %}