{% extends 'Kdm/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/">Новости</a></li>
    <li class="active">Архивы</li>
</ol>


<section class="panel panel-default">
    <div class="panel-body">
        <h1>Архив новостей</h1>
        <ul>
            <li><a href="/news/archive/2015">2015</a></li>
            <li><a href="/news/archive/2014">2014</a></li>
            <li><a href="/news/archive/2013">2013</a></li>
            <li><a href="/news/archive/2012">2012</a></li>
            <li><a href="/news/archive/2011">2011</a></li>
            <li></li>
        </ul>
        <p class="pull-right"><a href="/news/topics/{{topic.Pk}}.html">
            <i class="glyphicon glyphicon-chevron-right"></i>вернуться к новостям</a></p>
    </div>
</section>
{% endblock %}