{% extends 'Kdm/Inner.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Главная страница</a></li>
    <li><a href="/news/">Новости</a></li>
    <li class="active">Архив {{year}}</li>
</ol>

<h3><a href="/news/archive">Архив новостей {{year}} года</a></h3>
<section class="panel panel-default">
    <div class="panel-body">
        <h1>Архивы новостей</h1>
        <ul>
            {% for key, month in months %}
            <li>
                <a href="/news/archive/{{year}}/{{key}}">{{month}}</a>
            </li>
            {% endfor %}
        </ul>
        <p class="pull-right"><a href="/news/archives/all">
            <i class="glyphicon glyphicon-chevron-right"></i>вернуться к архивам</a></p>
    </div>
</section>
{% endblock %}
